@import "../bootstrap/scss/bootstrap";

// Correção de bug no Grid Masonry.
.card {
	display: inline-block;
}
// Fim: Correção de bug no Grid Masonry.

// Manipular Grid Masonry
.card-columns {
	@include media-breakpoint-only(xl) {
		column-count: 2;
	}

	@include media-breakpoint-only(lg) {
		column-count: 3;
	}

	@include media-breakpoint-only(md) {
		column-count: 2;
	}

	@include media-breakpoint-only(sm) {
		column-count: 1;
	}
}
// Fim: Manipular Grid Masonry


// Ajustes  Gerais
* {
	transition: 0.5s;
}

.card-columns {
	margin-top: 10px;
}

.carousel.slide  {
	img {
		min-width: 100%;
	}
}
// Fim: Ajustes  Gerais


// Sticky Footer Flexbox
html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	width: 100%;
}

.stickyfooter {
	flex: 1 0 auto;
}
// Fim: Sticky Footer Flexbox


// Todas as imagens fluídas
img {
	max-width: 100%;
	height: auto;
}
// Fim: Todas as imagens fluídas